:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-top: 3rem;
  }

  h2 {
    margin-top: 1rem;
    font-size: 1.17rem;
    color: rgb(75, 75, 75);
    font-weight: 100;
  }

  form {
    margin-top: 2.4rem;
    height: 60vh;
    width: 37vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 290px;
  }

  .input-error-message {
    // border: solid 2px red;
    div {
      font-size: .7rem;
      color: red;
      padding: .2rem 0;
    }
  }
}
